*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto !important;
  min-width: 280px;
  font-family: "Open Sans";
}
/*шапка и меню*/
header {
  top: 0px;
  max-width: 1380px;
  margin: 0 auto;
}

.header {
  background-image: url(./img/fon_hf1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu {
  right: 20px;
  position: absolute;
}

.menuElements {
  display: flex;
  justify-content: flex-end;
}
.menuEl {
  display: flex;
  padding: 0 10px 0 10px;
}
.menuEl a {
  color: #fff;
  font-size: larger;
  text-decoration: none;
}
.menuEl a:hover {
  color: rgb(231, 0, 251);
}
.mobile-menu {
  display: none;
}

@media (max-width: 991px) {
  .header {
    overflow-y: hidden;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 20px;
    font-size: 4em;
    font-weight: 600;
  }
  .menu {
    /*display: none;*/
    position: fixed !important;
    right: 0;
    margin: 0;
    top: 0;
    width: 50%;
    height: 100%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.185);
  }
  .menuElements {
    flex-direction: column;
    position: fixed;
    top: 10%;
  }
}

@media (max-width: 740px) {
  .header {
    min-width: 280px;
  }
}
@media (min-width: 992px) {
  body {
    background-image: url(./img/fonbody.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
  }
  .content {
    width: 80%;
  }
  .header {
    overflow-y: visible;
    width: 80%;
    margin: 0 auto;
  }
  .header__stick {
    position: sticky;
    top: 0px;
    display: flex;
    /*background-color: rgba(255, 255, 255, 0.301);*/
  }
  .header__countdown {
    margin-top: 11em;
  }
}
.header__title {
  padding-left: 20px;
}
.header__countdown {
  padding-bottom: 20px;
  color: white;
  text-align: center;
}
.fonheader {
  background-image: url(./img/fon_hf1.1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 25px;
  text-align: center;
  color: #fff;
}
@media (max-width: 450px) {
  .fonheader {
    min-height: 25px;
  }
}
@media (min-width: 451px) and (max-width: 543px) {
  .fonheader {
    min-height: 30px;
  }
}
@media (min-width: 544px) and (max-width: 679px) {
  .fonheader {
    min-height: 40px;
  }
}
@media (min-width: 680px) {
  .fonheader {
    background-repeat: repeat-x !important;
    min-height: 50px !important;
    background-size: contain;
  }
  .countdown-title {
    background-color: #3c9ee03b;
  }
}
/* Счётчик*/
.countdown-title {
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 34px;
  margin: 40px 0px 20px;
}
.countdown {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 26px;
}
.countdown-number {
  padding: 5px;
  border-radius: 3px;
  background: #3c9fe0;
  display: inline-block;
}
.countdown-time {
  padding: 10px;
  border-radius: 3px;
  background: #ffffff;
  display: inline-block;
}
@media (max-width: 315px) {
  .countdown-time {
    padding: 3px !important;
  }
}
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
  color: #000;
}

/* контент */
.content {
  display: block;

  max-width: 1380px;
  margin: 0 auto;
}
.content__span {
  font-size: large;
  color: #000;
  background-color: #f5deb38a;
}
.content__description {
  background-image: url(./img/fon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 10% 5% 10% 5%;
  background-size: cover;
}
@media (min-width: 991px) {
  .content__span {
    font-size: 1.5em;
  }
}
