*,
*::after,
*::before {
  box-sizing: inherit;
}
@media (max-width: 991px) {
  .modal-outer {
    display: grid;
    background: hsla(60, 0.7%, 27.3%, 0.7);
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
  }
  .modal-outer img {
    width: 100%;
  }
  .modal-outer.open {
    opacity: 1;
    pointer-events: all;
  }
}

body {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto !important;
  min-width: 280px;
  font-family: "Open Sans";
}
/*шапка и меню*/
header {
  top: 0px;
  max-width: 1380px;
  margin: 0 auto;
}

.header {
  background-image: url(./img/fon_hf2.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu {
  right: 20px;
  position: absolute;
}

.menuElements {
  display: flex;
}
.menuEl {
  display: flex;
  padding: 0 10px 0 10px;
  font-size: 20px;
}
.menuEl a {
  color: rgb(247, 243, 243);
  font-size: larger;
  text-decoration: none;
}
.menuEl a:hover {
  color: rgb(255, 255, 255);
}
.mobile-menu {
  display: none;
}
#menu {
  color: white;
  background: none;
  border: none;
}

@media (max-width: 991px) {
  .header {
    overflow-y: hidden;
  }
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 20px;
    font-size: 4em;
    font-weight: 600;
  }
  .menu {
    /*display: none;*/
    position: fixed !important;
    right: 0;
    margin: 0;
    top: 0;
    width: 70%;
    height: 100%;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.75);
  }
  .menuElements {
    flex-direction: column;
    position: fixed;
    top: 10%;
  }
}

@media (max-width: 740px) {
  .header {
    min-width: 280px;
  }
}
@media (min-width: 992px) {
  .modal-outer {
    opacity: 1;
    background: none;
  }
  body {
    background-image: url(./img/fonbody.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
  }
  .content {
    width: 80%;
  }
  .header {
    overflow-y: visible;
    width: 80%;
    margin: 0 auto;
  }
  .header__stick {
    position: sticky;
    top: 0px;
    display: flex;
    /*background-color: rgba(255, 255, 255, 0.301);*/
  }
  .header__countdown {
    margin-top: 11em;
  }
}
.header__title {
  padding-left: 30px;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
.header__countdown {
  padding-bottom: 20px;
  color: white;
  text-align: center;
}
.fonheader {
  background-image: url(./img/fon_hf1.1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 25px;
  text-align: center;
  color: #fff;
}
@media (max-width: 450px) {
  .fonheader {
    min-height: 25px;
  }
}
@media (min-width: 451px) and (max-width: 543px) {
  .fonheader {
    min-height: 30px;
  }
}
@media (min-width: 544px) and (max-width: 679px) {
  .fonheader {
    min-height: 40px;
  }
}
@media (min-width: 680px) {
  .fonheader {
    background-repeat: repeat-x !important;
    min-height: 50px !important;
    background-size: contain;
  }
  .countdown-title {
    background-color: #3c9ee03b;
  }
}
/* Счётчик*/
.countdown-title {
  color: rgb(255, 255, 255);
  font-weight: 100;
  font-size: 34px;
  margin: 40px 0px 20px;
}
.countdown {
  font-family: sans-serif;
  color: rgb(0, 0, 0);
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 26px;
}
.countdown-number {
  padding: 5px;
  border-radius: 3px;
  background: #3c9fe0;
  display: inline-block;
}
.countdown-time {
  padding: 10px;
  border-radius: 3px;
  background: #ffffff;
  display: inline-block;
}
@media (max-width: 315px) {
  .countdown-time {
    padding: 3px !important;
  }
}
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
  color: #000;
}

/* контент */
.content {
  display: block;

  max-width: 1380px;
  margin: 0 auto;
}
.content__span {
  font-size: large;
  color: #fff;
}
.content__description {
  background-image: linear-gradient(
      to top,
      rgba(121, 107, 173, 0.64),
      rgba(121, 107, 173, 0.64)
    ),
    url(./img/maxresdefault.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 10% 5% 10% 5%;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 991px) {
  .content__span {
    font-size: 1.5em;
  }
}
/*слайдер*/

.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}
@media (min-width: 900px) {
  .mySlides img {
    object-fit: cover;
    height: 500px;
  }
}
/* Slideshow container */
.slideshow-container {
  border-top: outset 6px #73b8e6a1;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  background-color: #d8aef05c;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #a419d7ed;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
